extends layout.jade

block content
  .login-box
    form(method="post" autocomplete='off' class="login-form")
      h2 Login
      input(type="text" name="username" placeholder="Username" class="input username-input")
      input(type="password" name="password" placeholder="Password" class="input password-input")
      button(type="submit" class="login-button") Login