extends ../layout.jade


block content
  div(class="setup-container container")
  
    form(action="javascript:void(0)" method="post" class="add-courses-form container" data-stepno=stepNo)
      .course-info-inputs
        button(class="add-course-button" id="add-course-button") Add Course

        .course-info-input
          input(type="text" placeholder="Course Name")
          input(type="number" placeholder="Course Cp" min=1)
          input(type="text" placeholder="Course Code")
      div(class="time-range-picker container")
        input(type="date" min=minDate id="start-date" value="2021-05-01")
        input(type="date" id="end-date" value="2021-05-10")
    .timetable-table

    button(type="submit" class="course-selection-next") Next
    script(src="../javascripts/stacktable.js")
  script(src="../javascripts/setup.js")

