extends ../layout.jade


block content
  div(class="setup-container")
  
    form(action="javascript:void(0)" method="post" class="add-courses-form" data-stepno=stepNo)
      .course-info-inputs
        

        .course-info-input
          label(for="course-name-input" class="course-info-label") Course Name
          input(type="text" name="course-name-input" placeholder="Course Name")
          label(for="course-cp-input" class="course-info-label") Course Cp
          input(type="number" name="course-cp-input" placeholder="Course Cp" min=1)
          label(for="course-code-input" class="course-info-label") Course Code
          input(type="text" name="course-code-input" placeholder="Course Code")
      button(class="add-course-button" id="add-course-button") Add Course
      div(class="time-range-picker")
        label(for="start-date-input" class="course-info-label") Starting Date
        input(type="date" name="start-date-input" min=minDate id="start-date")
        label(for="end-date-input" class="course-info-label") Final Date
        input(type="date" name="end-date-input" id="end-date")
    .timetable-table

    button(type="submit" class="course-selection-next") Next
    script(src="../javascripts/stacktable.js")
  script(src="../javascripts/setup.js")

