extends ../layout.jade


block content
  if stepNo == 1
    button(class="add-course-button" id="add-course-button") Add Course
    form(action="javascript:void(0)" method="post" class="add-courses-form" data-stepno=stepNo)
      .course-info-inputs
        .course-info-input
          input(type="text" placeholder="Course Name")
          input(type="number" placeholder="Course Cp")
          input(type="text" placeholder="Course Code")
      .time-range-picker
        input(type="date" min=minDate id="start-date")
        input(type="date" id="end-date")
      .timetable-table

      button(type="submit" class="course-selection-next") Next
  script(src="../javascripts/setup.js")

